<div class='project-detailed'>

  <div class='detailed-header'>

    <h1 data-test-project-name>

      {{@project.name}}

    </h1>

    <a href='{{@project.repo}}' target='blank_' data-test-repo-link><UkIcon
        @icon='github'
        @ratio={{3}}
      /></a>

  </div>

  <p class='seperator'></p>
  {{#if @project.dependencyVersions}}
    <table>
      <thead><tr><th>Dependency</th><th>Version</th><th>End Of Life Date</th><th
          >Release Date</th></tr></thead>

      <tbody>
        {{#each
          (sort-by 'eolDate:asc' @project.dependencyVersions)
          as |version|
        }}
          <DependencyDetailed @version={{version}} />
        {{/each}}

      </tbody>
    </table>
  {{else}}
    <div class='none-yet' data-test-dependency-versions-none>
      <span class='text-UNDEFINED'>No dependencies yet</span></div>
  {{/if}}

</div>