<div class='project-detailed'>

  <div class='detailed-header'>

    <a class='detailed-heading' href='{{@project.repo}}' target='blank_'>

      {{@project.name}}

    </a>

  </div>

  <h1 class='seperator'></h1>
  <table class='package-table'>
    <thead><tr><th>Package</th><th>Version</th><th>End Of Life Date</th><th
        >Release Date</th></tr></thead>

    <tbody>
      {{#each (sort-by 'eolDate:asc' @project.versions) as |version|}}
        <DependencyDetailed @version={{version}} />
      {{/each}}

    </tbody>
  </table>

</div>