{{page-title 'Track New'}}

<Form
  @name='Track new Project'
  @model={{changeset @model.model this.ProjectValidations}}
  as |f|
>
  <f.input @name='name' />
  <f.input @name='repo' />
  <f.input
    @type='select'
    @multiple={{true}}
    @name='dependencyVersions'
    @label='Dependency Versions'
    @options={{@model.dependencyVersions}}
  />
  <f.button />
</Form>