{{page-title 'Overview'}}
<div class='compact-projects'>
  {{#each @model as |project|}}
    <ProjectCompact @project={{project}} />
  {{/each}}
</div>

<Form as |f|>
  <f.input @name='text' @value='textle' />
  <f.input @type='date' />
  <f.input @type='select' @name='select' />
  <f.input @type='select' @name='multi select' @multiple={{true}} />
</Form>
<div class='uk-margin-top'></div>