{{page-title 'Track New'}}

<Form
  @name='Track new Project'
  @model={{this.project}}
  @onSubmit={{this.saveProject}}
  as |projectForm|
>
  <projectForm.input @name='name' />
  <projectForm.input @name='repo' />

  <projectForm.button />
</Form>