$breakpoint-xsmall: 419px;

/* CSS properties for responsive layout */

:root {
  --navbar-height: 40px;
  --table-cell-paddings: 8px 6px;
  --table-cell-font-size: 0.65rem;
  --navbar-margin-bottom: 5px;
  --compact-projects-width: 100%;
  --button-nav-button-padding: 0 6px;
  --button-nav-button-line-height: 28px;
  --detailed-heading-font-size: 1.2rem;
  --seperator-margin-bottom: 1px;
  --title-compact-font-size: 1.2rem;
}
