/*______________*/
/* Outdated CSS */
/*______________*/

/* vars */
:root {
  --od-primary: #2885f7;
  --od-green: #31d2a0;
  --od-yellow: #f7e160;
  --od-red: #f0746d;
  --od-alarm: #d8423a;
  --od-grey: #929292;

  --od-red-dull: #eb4d45;
  --od-alarm-dull: #cc342c;
}

/* text colours */
.od-text-white {
  color: white !important;
}

/* Static Backrounds */
.od-background-primary {
  background: var(--od-primary) !important;
}
.od-background-green {
  background: var(--od-green) !important;
}
.od-background-yellow {
  background: var(--od-yellow) !important;
}
.od-background-red {
  background: var(--od-red) !important;
}
.uk-light .od-background-red {
  background: var(--od-red-dull);
}

/* Gradient Backgrounds */
.od-background-primary-green {
  background: linear-gradient(to right, var(--od-primary), var(--od-green));
}
.od-background-primary-yellow {
  background: linear-gradient(to right, var(--od-primary), var(--od-yellow));
}
.od-background-primary-red {
  background: linear-gradient(to right, var(--od-primary), var(--od-red));
}
.od-background-primary-grey {
  background: linear-gradient(to right, var(--od-primary), var(--od-grey));
}

.od-background-green-primary {
  background: linear-gradient(to left, var(--od-primary), var(--od-green));
}
.od-background-yellow-primary {
  background: linear-gradient(to left, var(--od-primary), var(--od-yellow));
}
.od-background-red-primary {
  background: linear-gradient(to left, var(--od-primary), var(--od-red));
}

.od-background-green-yellow {
  background: linear-gradient(to right, var(--od-green), var(--od-yellow));
}
.od-background-green-red {
  background: linear-gradient(to right, var(--od-green), var(--od-red));
}

/* Border Radius Variations */
.od-border-rounded-bottom {
  border-radius: 0 0 5px 5px;
}

/* Misc Stuff */
.od-clickable {
  cursor: pointer;
}
.od-inset {
  box-shadow: inset 0 0 5px 5px #2222227b, 0 0 1px 1px #00000029;
}
.od-round-bottom {
  border-radius: 0 0 5px 5px;
}
.od-round-top {
  border-radius: 5px 5px 0 0;
}
.od-child-height-1-3 > * {
  height: 30% !important;
}

/* UIKit changes*/
.uk-alert-danger {
  background: var(--od-alarm);
  box-shadow: inset 0 0 5px 5px #2222227b, 0 0 1px 1px #00000029;
  color: #fff;
  border-radius: 5px;
}

.uk-light .uk-alert-danger {
  background: var(--od-alarm-dull);
  box-shadow: inset 0 0 5px 5px #2222227b, 0 0 1px 1px #00000029;
  color: #fff;
  border-radius: 5px;
}

/* Form Stuff */
form label,
form legend {
  color: #fff !important;
}
input,
select {
  border: none !important;

  transition: box-shadow 0.5s !important;
}

input:valid:focus,
select:valid {
  box-shadow: 0 0 3px 3px var(--od-green);
}
input:focus:invalid,
select:focus:invalid {
  box-shadow: 0 0 3px 3px var(--od-red);
}
