<span
  data-test-dependency-compact
  {{(if
    @version
    (modifier
      'uk-tooltip' (concat 'EOL: ' (format-date @version.eolDate)) pos='bottom'
    )
  )}}
>
  {{or @version.dependency.name 'No dependencies yet'}}
  {{@version.version}}</span>