.ember-power-select-search-input,
.ember-power-select-trigger {
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

.ember-power-select-search-input,
.ember-power-select-trigger-multiple-input {
  padding: 0 $form-padding-horizontal;
  text-indent: 0;
  color: $form-color;
}

.ember-power-select-trigger:where(:not(.ember-power-select-multiple-trigger)) {
  @extend .uk-input;
}

.ember-power-select-multiple-option.ember-power-select-multiple-option {
  @extend .uk-button-default;

  border-radius: 0;
  line-height: 1.5rem;
}
