/* the projects header, includes its name and a button to the repository */
.detailed-header {
  text-align: center;
  display: flex;
  align-items: center;

  h1 {
    @extend .uk-link-heading;

    margin: 0;
    display: block;
    width: 100%;
    font-size: var(--detailed-heading-font-size);
  }

  a {
    width: calc(5px + var(--detailed-heading-font-size));
  }
}

.project-detailed {
  @extend .uk-margin-bottom;

  table {
    margin: 0;
  }

  th,
  td {
    width: 25%;
    transition: font-size 0.1s ease 0.1s;
  }
}
