.table-header {
  font-size: calc(var(--detailed-heading-font-size) * 0.9);
  margin-bottom: calc(var(--navbar-margin-bottom) * 0.4);
}

table {
  @extend .uk-table;
  @extend .uk-text-center;
  @extend .uk-table-striped;
  @extend .uk-margin-bottom;

  th {
    @extend .uk-text-center;
  }

  th,
  td {
    padding: var(--table-cell-paddings);
    font-size: var(--table-cell-font-size);
  }

  tbody {
    border: $table-striped-border 2px solid;

    tr:nth-of-type(odd) {
      box-shadow: inset 0 0 5px 1px rgb(59 59 59 / 10%) !important;
    }
  }
}
