.text-undefined {
  @extend .uk-text-muted;
}

.uk-link-text:hover {
  color: color-mix(in oklab, currentcolor 85%, black) !important;
}

.text-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @extend .text-undefined;
}
