.text-undefined {
  &:not(tr),
  td[data-test-version-end-of-life] {
    @extend .uk-text-muted;
    font-style: italic;
  }
}

.none-yet {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  span {
    @extend .text-undefined;
  }
}
