/* navbar */
.navbar {
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom) !important;
}

.navbar-container {
  @extend .uk-navbar-container;
  @extend .uk-container-expand;

  padding: 0 calc(var(--navbar-height) - 30px);
  height: var(--navbar-height);

  .uk-logo {
    min-height: var(--navbar-height);
  }
}

/* button nav */
.button-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: var(--button-nav-gap);

  li a {
    display: flex;
    padding: var(--button-nav-button-padding);
    line-height: var(--button-nav-button-line-height);
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;

    &:not(.active) {
      @extend .uk-button-default;
    }

    &.active {
      @extend .uk-button-primary;
    }
  }
}
