/* navbar */
.navbar {
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom) !important;
}

.navbar-container {
  @extend .uk-navbar-container;
  @extend .uk-container-expand;

  padding: 0 30px;
  height: var(--navbar-height);

  .uk-logo {
    min-height: var(--navbar-height);
  }
}

/* button nav */
.button-nav {
  @extend .uk-button-group;
  @extend .uk-navbar-nav;

  list-style: none;
  gap: 0;

  li a {
    @extend .uk-button;
    @extend .uk-button-small;

    min-height: initial;
    padding: var(--button-nav-button-padding);
    line-height: var(--button-nav-button-line-height);

    &:not(.active) {
      @extend .uk-button-default;
    }

    &.active {
      @extend .uk-button-primary;
    }
  }
}
