interactions:
- request:
    body: '{"query": "\n        {\n            repository(owner: \"projectcaluma\",
      name: \"caluma\") {\n                dependencyGraphManifests {\n                    nodes
      {\n                        blobPath\n                    }\n                }\n            }\n        }\n        "}'
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"dependencyGraphManifests":{"nodes":[{"blobPath":"/projectcaluma/caluma/blob/main/poetry.lock"},{"blobPath":"/projectcaluma/caluma/blob/main/pyproject.toml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/compatibility-tests.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/ghcr.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/pypi.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/tests.yml"}]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.hawkgirl-preview; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4980'
      X-RateLimit-Reset:
      - '1698656381'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '20'
      github-authentication-token-expiration:
      - 2023-11-29 08:58:49 +0100
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com//projectcaluma/caluma/main/poetry.lock
  response:
    body:
      string: '<a href="/projectcaluma/caluma/main/poetry.lock">Moved Permanently</a>.


        '
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /projectcaluma/caluma/main/poetry.lock
      Source-Age:
      - '1498'
      X-Fastly-Request-ID:
      - 3581bec035307e019b30b12775ed7d6d3c214b3f
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/projectcaluma/caluma/main/poetry.lock
  response:
    body:
      string: "# This file is automatically @generated by Poetry and should not be
        changed by hand.\n\n[[package]]\nname = \"aniso8601\"\nversion = \"9.0.1\"\ndescription
        = \"A library for parsing ISO 8601 strings.\"\ncategory = \"main\"\noptional
        = false\npython-versions = \"*\"\nfiles = [\n    {file = \"aniso8601-9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.org/pypi/django/3.2.19/json
  response:
    body:
      string: '{"info":{"author":"Django Software Foundation","author_email":"foundation@djangoproject.com","bugtrack_url":null,"classifiers":["Development
        Status :: 5 - Production/Stable","Environment :: Web Environment","Framework
        :: Django","Intended Audience :: Developers","License :: OSI Approved :: BSD
        License","Operating System :: OS Independent","Programming Language :: Python","Programming
        Language :: Python :: 3","Programming Language :: Python :: 3 :: Only","Programming
        Language :: Python :: 3.10","Programming Language :: Python :: 3.6","Programming
        Language :: Python :: 3.7","Programming Language :: Python :: 3.8","Programming
        Language :: Python :: 3.9","Topic :: Internet :: WWW/HTTP","Topic :: Internet
        :: WWW/HTTP :: Dynamic Content","Topic :: Internet :: WWW/HTTP :: WSGI","Topic
        :: Software Development :: Libraries :: Application Frameworks","Topic ::
        Software Development :: Libraries :: Python Modules"],"description":"======\nDjango\n======\n\nDjango
        is a high-level Python Web framework that encourages rapid development\nand
        clean, pragmatic design. Thanks for checking it out.\n\nAll documentation
        is in the \"``docs``\" directory and online at\nhttps://docs.djangoproject.com/en/stable/.
        If you''re just getting started,\nhere''s how we recommend you read the docs:\n\n*
        First, read ``docs/intro/install.txt`` for instructions on installing Django.\n\n*
        Next, work [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.org/pypi/djangorestframework/3.14.0/json
  response:
    body:
      string: '{"info":{"author":"Tom Christie","author_email":"tom@tomchristie.com","bugtrack_url":null,"classifiers":["Development
        Status :: 5 - Production/Stable","Environment :: Web Environment","Framework
        :: Django","Framework :: Django :: 3.0","Framework :: Django :: 3.1","Framework
        :: Django :: 3.2","Framework :: Django :: 4.0"[...]
