interactions:
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"dependencyGraphManifests":{"nodes":[{"blobPath":"/projectcaluma/caluma/blob/main/poetry.lock"},{"blobPath":"/projectcaluma/caluma/blob/main/pyproject.toml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/compatibility-tests.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/ghcr.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/pypi.yml"},{"blobPath":"/projectcaluma/caluma/blob/main/.github/workflows/tests.yml"}]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.hawkgirl-preview; format=json
      X-OAuth-Scopes:
      - public_repo, read:audit_log, read:discussion, read:enterprise, read:gpg_key,
        read:org, read:project, read:public_key, read:repo_hook, read:ssh_signing_key,
        read:user
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4990'
      X-RateLimit-Reset:
      - '1683206832'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '10'
    status:
      code: 200
      message: OK
    url: https://api.github.com/graphql
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com//projectcaluma/caluma/main/poetry.lock
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /projectcaluma/caluma/main/poetry.lock
      Source-Age:
      - '31'
      X-Fastly-Request-ID:
      - cfdf21ed4088b182bbf7023932daac8d707c33c6
    status:
      code: 301
      message: Moved Permanently
    url: https://raw.githubusercontent.com//projectcaluma/caluma/main/poetry.lock
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/projectcaluma/caluma/main/poetry.lock
  response:
    body:
      string: "[[package]]\nname = \"aniso8601\"\nversion = \"9.0.1\"\ndescription
        = \"A library for parsing ISO 8601 strings.\"\ncategory = \"main\"\noptional
        = false\npython-versions = \"*\"\n\n[package.extras]\ndev = [\"black\", \"coverage\",
        \"isort\", \"pre-commit\", \"pyenchant\", \"pylint\"]\n\n[[package]]\nna[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://pypi.org/pypi/djangorestframework/3.14.0/json
  response:
    body:
      string: '{"info":{"author":"Tom Christie","author_email":"tom@tomchristie.com","bugtrack_url":null,"classifiers":["Development
        Status :: 5 - Production/Stable","Environment :: Web Environment","Framework
        :: Django","Framework :: Django :: 3.0","Framework :: Django :: 3.1","Framework
        :: Django :: 3.2","Framework :: Django :: 4.0","Framework :: Django :: 4.1","Intended
        Audience :: Developers","License :: OSI Approved :: BSD License","Operating
        System :: OS Independent","Programming Language :: Python","Programming Language
        :: Python :: 3","Programming Language :: Python :: 3 :: Only","Programming
        Language :: Python :: 3.10","Programming Language :: Python :: 3.6","Programming
        Language :: Python :: 3.7","Programming Language :: Python :: 3.8","Programming
        Language :: Python :: 3.9","Topic :: Internet :: WWW/HTTP"],"description":"#
        [Django REST framework][docs]\n\n[![build-status-image]][build-status]\n[![coverage-status-image]][codecov]\n[![pypi-version]][pypi]\n\n**Awesome
        web-browsable Web APIs.**\n\nFull documentation for the project is available
        at [https://www.django-rest-framework.org/][docs].\n\n---\n\n# Funding\n\nREST
        framework is a *collaboratively funded project*. If you use\nREST framework
        commercially we strongly encourage you to invest in its\ncontinued development
[...]
