{{#if @versionedDependencies}}
  <table>
    <thead>
      <tr>
        <th>Dependency</th>
        <th>Version</th>
        <th>End of Life</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each @versionedDependencies as |version|}}
        <DependencyDetailed @version={{version}} />
      {{/each}}

    </tbody>
  </table>
{{else}}
  <div class='none-yet' data-test-dependency-versions-none>
    <span class='text-UNDEFINED'>No dependencies yet</span>
  </div>
{{/if}}