<div class='project-detailed'>

  <div class='detailed-header'>

    <h1 data-test-project-name>
      {{@project.name}}
    </h1>

    <a href='{{@project.repo}}' target='blank_' data-test-repo-link>
      <UkIcon @icon='github' @ratio={{3}} />
    </a>

  </div>

  <hr class='seperator' />
  <DependencyTable @versionedDependencies={{@project.versionedDependencies}} />
  <LinkTo @route="projects.detailed.edit">
  <UkButton @label="edit"/>
  </LinkTo>
</div>