<span
  data-test-dependency-compact
  {{(if
    @version
    (modifier
      'uk-tooltip'
      (concat 'EOL: ' (format-date @version.endOfLifeDate))
      pos='bottom'
    )
  )}}
>
  {{or @version.dependency.name 'No dependencies yet'}}
  {{@version.version}}</span>