<span
  data-test-dependency-compact
  {{(if
    @version
    (modifier
      "uk-tooltip"
      (concat "EOL: " (format-date @version.endOfLife))
      pos="bottom"
    )
  )}}
>
  {{or @version.requirements "No dependencies yet"}}
</span>