<div class='od-project'>
  <UkCard as |card|>
    <card.header>
      <card.title>{{@name}}</card.title>
      <a href='https://github.com/adfinis/outdated' target='blank_'>
        <UkButton @color='text' @label='Repository' /></a>
    </card.header>
    <card.body class='uk-padding-remove-top'>
      <div class='od-package-table'>
        <table>
          <thead><tr><th>Package</th><th>Version</th><th>End Of Life Date</th><th
              >Release Date</th></tr></thead>

          <tbody>
            <Package
              @name='Python'
              @version='8.3.16'
              @eol_date='2033-11-11'
              @rel_date='2011-12-12'
              @status='package-outdated'
            />

            <Package
              @name='Django'
              @version='3.2.16'
              @eol_date='2033-11-11'
              @rel_date='2015-09-14'
              @status='package-warning'
            />
            <Package
              @name='django-environ'
              @version='1.0.3'
              @eol_date='2023-06-23'
              @rel_date='2012-11-12'
            />
            <Package
              @name='embroider'
              @version='1.8.3'
              @eol_date='2026-01-21'
              @rel_date='2022-11-12'
            />
            <Package
              @name='yarn'
              @version='1.23.12'
              @eol_date='2013-07-13'
              @rel_date='2017-05-12'
            />
            <Package
              @name='ember-focus-trap'
              @version='1.0.1'
              @eol_date='1934-03-23'
              @rel_date='2016-03-12'
            />

          </tbody>
        </table>
      </div>
    </card.body>

  </UkCard></div>