<!-- prettier-ignore -->
{% extends "base.html" %} {% load templateutils %}{% load static %} {% block head %}
<style>
  form label,
  form legend {
    color: #fff !important;
  }
  input,
  select {
    border: none !important;

    transition: box-shadow 0.5s !important;
  }

  input:valid:focus,
  select:valid {
    box-shadow: 0 0 3px 3px var(--od-green);
  }
  input:focus:invalid,
  select:focus:invalid {
    box-shadow: 0 0 3px 3px var(--od-red);
  }
</style>
<link
  rel="stylesheet"
  href="http://code.jquery.com/ui/1.10.3/themes/dark-hive/jquery-ui.css"
/>
<!-- In the end, the website should be a 1 pager (uk-switch)-->
<link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function () {
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });
  });
</script>
{% endblock head %}
<!-- prettier-ignore -->
{% block pagecontent %}

<div
  class="uk-flex uk-container-extend uk-child-width-1-2 uk-height-viewport"
  uk-height-viewport="offset-top: true"
>
  <div class="uk-background-primary uk-padding uk-light">
    <div class="uk-flex uk-flex-column">
      <div class="uk-background-secondary uk-border-rounded uk-padding">
        <form class="uk-form" action="" method="post">
          {% csrf_token %}
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">New Project</legend>
            <hr />
            <!-- prettier-ignore -->
            {{project_form}}
          </fieldset>
          {% submitButton "create_project" %}
        </form>
      </div>
      <div
        class="uk-background-secondary uk-padding uk-border-rounded uk-margin-top uk-padding-small uk-padding-remove-top"
      >
        <div
          class="uk-margin-small-left uk-margin-small-right uk-margin-small-bottom uk-margin-top"
        >
          <form
            method="get"
            class="uk-search uk-search-default"
            style="width: 100%"
          >
            <span class="uk-search-icon-flip" uk-search-icon></span>
            <input
              class="uk-input uk-border-rounded"
              type="search"
              required
              name="package_search"
              placeholder="Search..."
              value="{{request.GET.package_search}}"
            />
          </form>

          <div
            class="uk-height-max-medium uk-margin-small-top uk-overflow-auto"
          >
            {% for package in packages %}
            <div
              class="od-background-green-primary uk-border-rounded uk-margin-small"
            >
              <h3
                class="uk-margin-remove uk-padding-small od-clickable uk-width-1-1"
                uk-toggle="target: [data-id='{{package.pk}}']; animation: uk-animation-fade"
              >
                {{package.name}}
              </h3>

              <div
                class="uk-padding-small uk-border-rounded uk-margin-bottom"
                data-id="{{package.pk}}"
                hidden
              >
                <!-- prettier-ignore -->
                {% get_elements package.pk as thingy%}

                {% for version in thingy%}
                <div
                  class="{{version.CSSClass}} uk-padding-small uk-margin-small uk-margin-remove-bottom uk-border-rounded uk-flex od-inset"
                >
                  <span class="uk-width-1-1 uk-flex uk-flex-middle"
                    >{{version.name}}</span
                  >
                  <button
                    class="uk-button uk-button-secondary uk-button-small uk-border-rounded"
                  >
                    edit
                  </button>
                </div>
                {% empty %}
                <!-- prettier-ignore -->
                {% warning "This Package has no versions yet, start by creating one." %} 
              {% endfor %}
              </div>
            </div>
            {% empty %}
            <!-- prettier-ignore -->
            {% closeable_warning "There were no results, please check your spelling or try again." %} 
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  prettier-ignore -->

  <div class="uk-background-secondary uk-padding">
    <div class="uk-margin-small-left uk-flex uk-flex-column">
      <div class="uk-background-primary uk-padding uk-border-rounded">
        <form class="uk-form" action="" method="post">
          {% csrf_token %}
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Add Package</legend>
            <hr />
            {{package_form}}
          </fieldset>
          {% submitButton "create_package" %}
        </form>
      </div>
      <div
        class="uk-background-primary uk-padding uk-margin-top uk-border-rounded"
      >
        <form class="uk-form" action="" method="post">
          {% csrf_token %}
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Add Package Version</legend>
            <hr />
            {{version_form}}
          </fieldset>
          {% submitButton "create_version" %}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- prettier ignore -->
{% endblock pagecontent %}
