<!-- prettier-ignore -->
{% extends "base.html" %}{% include "./components/buttons/submit.html" %} {% load templateutils %}{% load static %}
{% block head %}
<style>
  form label,
  form legend {
    color: #fff !important;
  }
  input,
  select {
    border: none !important;
    transition: box-shadow .5s !important;
  }

  input:valid,  input:valid.input:placeholder-shown,
  select:valid {
    box-shadow: 0 0 3px 3px {% get_env "GREEN" %};

  }
  input:focus:invalid, input:invalid.input:not(:placeholder-shown),
  select:invalid {
    box-shadow: 0 0 3px 3px {% get_env "RED" %} ;
  }
</style>
<link
  rel="stylesheet"
  href="http://code.jquery.com/ui/1.10.3/themes/dark-hive/jquery-ui.css"
/>
<link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function () {
    $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });
  });
</script>
{% endblock head %}
<!-- prettier-ignore -->
{% block pagecontent %}

<main class="uk-flex uk-margin uk-padding uk-flex-between">
  <div
    class="uk-background-primary uk-border-rounded uk-padding uk-width-1-2 uk-margin-small-right"
  >
    <form class="uk-form" action="" method="post">
      {% csrf_token %}
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">New Project</legend>
        <hr />
        <!-- prettier-ignore -->
        {{project_form}}
      </fieldset>
      {% submitButton "create_project" %}
    </form>
  </div>

  <div
    class="uk-background-primary uk-border-rounded uk-padding uk-width-1-2 uk-margin-small-left"
  >
    <form class="uk-form" action="" method="post">
      {% csrf_token %}
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Add Package</legend>
        <hr />
        {{package_form}}
      </fieldset>
      {% submitButton "create_package" %}
    </form>
  </div>
</main>
<!-- prettier ignore -->
{% endblock pagecontent %}
