{% extends "base.html" %} {% block pagecontent %}{% load templateutils %}
<div uk-filter="target: .js-filter;">
  <div uk-sticky="sel-target: 200; offset: 80; ">
    <div class="uk-flex uk-background-secondary uk-dark">
      <ul style="display: none">
        <li
          class="uk-active"
          uk-filter-control="sort: data-up_to_dateness"
        ></li>
      </ul>
      <ul class="uk-subnav uk-subnav-pill uk-width-auto uk-margin-remove">
        <li class="uk-active uk-padding-remove" uk-filter-control>
          <a href="#">All</a>
        </li>
      </ul>
      <ul class="uk-subnav uk-subnav-pill uk-width-5-6 uk-margin-remove">
        <li uk-filter-control="[data-colour='RED']">
          <a href="#">Critical</a>
        </li>
        <li uk-filter-control="[data-colour='YELLOW']">
          <a href="#">Pending</a>
        </li>
        <li uk-filter-control="[data-colour='GREEN']">
          <a href="#">Up to date</a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="js-filter uk-list uk-list-striped uk-margin-remove">
    {% for project in projects %}
    <li
      data-up_to_dateness="{{project.status.up_to_dateness}}"
      data-colour="{{project.status.colour}}"
    >
      <div
        class="uk-container uk-container-large uk-margin uk-padding uk-border-rounded"
        style="background:{{project.status.background}}"
      >
        <h2 class="od-text-white uk-text-center uk-box-shadow-medium uk-margin">
          {{project.name}}
        </h2>
        <div class="uk-flex uk-flex-row">
          <div
            class="uk-flex uk-flex-left uk-width-1-2 od-text-white uk-flex-wrap-stretch"
          >
            <a
              href="{{project.repo}}"
              target="_blank"
              class="uk-link-reset uk-label uk-label-warning uk-box-shadow-small uk-box-shadow-hover-large uk-icon-button uk-button"
              uk-icon="git-branch"
            >
            </a>
          </div>
          <div class="packages uk-flex uk-flex-right uk-width-1-2 uk-flex-wrap">
            <!-- prettier-ignore -->
            {% for package in project.packages.all %}<label
              class="uk-label uk-box-shadow-small uk-margin-small-bottom uk-margin-small-right"
              style="background:{% get_env package.status %}"
              >{{package.name}}</label
            >{% endfor %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock pagecontent %}
