/* navbar */
.navbar {
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom) !important;
}

.navbar-container {
  @extend .uk-navbar-container;
  @extend .uk-container-expand;
  padding: 0 30px;
  height: var(--navbar-height);
  a:not(.dropdown-wrapper a) {
    min-height: var(--navbar-height);
  }
}

/* button nav */
.button-nav {
  @extend .uk-button-group;
  button:not(.dropdown-wrapper button) {
    @extend .uk-button-small;

    padding: var(--button-nav-button-padding);
    line-height: var(--button-nav-button-line-height);
  }
  a.ember-view.active button {
    @extend .uk-button-primary;
  }
}
.create-button {
  height: 100%;
  padding: 0 10px;
  line-height: var(--button-nav-button-line-height);
  border: none;
}
