/* navbar */
.navbar {
  height: var(--navbar-height);
  margin-bottom: var(--navbar-margin-bottom) !important;
}

.navbar-container {
  @extend .uk-navbar-container;
  @extend .uk-container-expand;
  padding: 0 30px;
  height: var(--navbar-height);
  a {
    min-height: var(--navbar-height);
  }
}

/* nav button */
.button-nav {
  @extend .uk-button-group;
  button {
    @extend .uk-button-small;

    padding: var(--button-nav-button-padding);
    line-height: var(--button-nav-button-line-height);
  }
  a.ember-view.active button {
    @extend .uk-button-primary;
  }
}
