---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "outdated.fullname" . }}-api
  labels:
    {{- include "outdated.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: 80
      targetPort: {{ .Values.api.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "outdated.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "outdated.fullname" . }}-ember
  labels:
    {{- include "outdated.labels" . | nindent 4 }}
    app.kubernetes.io/component: ember
spec:
  type: {{ .Values.ember.service.type }}
  ports:
    - port: {{ .Values.ember.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "outdated.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: ember
